In [5]:
import pandas as pd

In [6]:
df = pd.read_csv(r'data\form\form_data.csv')

In [7]:
df

,paagey,pagender,paheight,paweight,pahibpe,paarthre,pacholst,Wheeze,pacancre,padiabe,...,paclims,pagrossaa,pafallinj,pahipe_m,papaina,parafaany,parjudg,pabath,paeat,pameds
0,60,Male,177,75,1,1,0,1,0,0,...,1,1,1,1,1,1,0,1,1,1